In [5]:
import pandas as pd
import numpy as np
from mpl_toolkits.basemap import Basemap

ModuleNotFoundError: No module named 'mpl_toolkits.basemap'

In [2]:
data = pd.read_csv("agg_tripdata_2016-05.csv", index_col=0)
data

,date,hour,1,2,3,4,5,6,7,8,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
0,2016-05-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2016-05-01,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2016-05-01,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2016-05-01,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2016-05-01,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2016-05-31,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
740,2016-05-31,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
741,2016-05-31,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
742,2016-05-31,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
743,2016-05-31,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
columns = [str(i) for i in np.arange(1, 2501)]
data[columns].sum() # общее кол-во поездок из каждой зоны

1       0
2       0
3       0
4       0
5       0
       ..
2496    0
2497    0
2498    0
2499    0
2500    0
Length: 2500, dtype: int64

In [9]:
(data[columns].sum() == 0).sum() # кол-во ячеек с 0 поездок

1283

In [4]:
#статитеская карта Нью-Йорка
#Поставьте метку там, где находится статуя свободы и Empire State Building
f
plt.figure(figsize=(10,10))

m = Basemap(projection='merc',llcrnrlat=40.49612,urcrnrlat=40.91553, llcrnrlon=-74.25559,urcrnrlon=-73.70001,
            resolution='i', epsg=2263)

m.arcgisimage(xpixels = 1000,ypixels = 1000)

x, y = m(-73.9858333333, 40.7477777778)
plt.plot(x, y, 'og', markersize=5)
plt.text(x, y, u' Эмпайр-Стейт-Билдинг', fontsize=12, color='w');

plt.show()

NameError: name 'plt' is not defined

In [11]:
regions = pd.read_csv('regions.csv', sep=';', index_col=0)
regions

             west       east      south      north
region
1      -74.255590 -74.244478  40.496120  40.504508
2      -74.255590 -74.244478  40.504508  40.512896
3      -74.255590 -74.244478  40.512896  40.521285
4      -74.255590 -74.244478  40.521285  40.529673
5      -74.255590 -74.244478  40.529673  40.538061
...           ...        ...        ...        ...
2496   -73.711122 -73.700010  40.873589  40.881977
2497   -73.711122 -73.700010  40.881977  40.890365
2498   -73.711122 -73.700010  40.890365  40.898754
2499   -73.711122 -73.700010  40.898754  40.907142
2500   -73.711122 -73.700010  40.907142  40.915530

[2500 rows x 4 columns]

In [8]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key='AIzaSyAaQ2P0mtNILXuT_giolXZJaN8lOjQLj8s') # Your Google API key
locations = gmaps.datasets.load_dataset("taxi_rides")
#Вставьте интерактивную карту Нью-Йорка — такую, которую можно прокручивать и увеличивать. 
#Поставьте метку там, где находится статуя свободы и Empire State Building

ESB = (40.7485, -73.9857)
SOL = (40.6892776, -74.0445938)
marker_locations = [ESB, SOL]

fig = gmaps.figure(center=[40.689167, -74.044444], zoom_level=11)

names = [u'Empire State Building', 'Statue of Liberty']


st = gmaps.marker_layer(marker_locations, label=names)
fig.add_layer(st)

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
locations = pd.read_csv('yellow_tripdata_2016-05.csv')
locations = locations[['pickup_longitude', 'pickup_latitude']]
locations.head()

   pickup_longitude  pickup_latitude
0        -73.985901        40.768040
1        -73.991577        40.744751
2        -73.993073        40.741573
3        -73.991943        40.684601
4        -74.005280        40.740192

In [13]:
loc_array = list(zip(list(locations.pickup_latitude.values), list(locations.pickup_longitude.values)))
loc_array[:2]

[(40.76803970336913, -73.98590087890625),
 (40.7447509765625, -73.9915771484375)]

In [11]:
fig.add_layer(gmaps.heatmap_layer(loc_array))

In [ ]:
fig

In [14]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key="AIzaSyAaQ2P0mtNILXuT_giolXZJaN8lOjQLj8s") # Your Google API key

# load a Numpy array of (latitude, longitude) pairs
locations = gmaps.datasets.load_dataset("taxi_rides")

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(loc_array))
fig

In [4]:
len(locations)

500